.nav-bar {
  border: 1px solid red;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.df-balance {
  /* border: 1px solid red; */

  width: fit-content;
  display: flex;
  flex-direction: row-reverse;
}

/* .coin-icon {
  position: relative;
  left: -50px;
  top: -28px;
} */

#accountBalance {
  font-size: 1.5rem;
}

.blog-btn {
  margin-left: 0px;

  color: rgb(0, 0, 0);

  height: 48px;
  width: 109px;

  padding: 12px 32px 12px 32px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 700;

  border-radius: 8px;

  background: rgb(180, 244, 97);
}

/*---------------------- Donation and history buttons */
.d-h-btn {
  margin: 0 auto;
}
.d-btn {
  border-radius: 8px;

  color: rgb(0, 0, 0);

  height: 48px;

  align-items: center;

  padding: 12px 32px 12px 32px;
  background: rgb(180, 244, 97);
}
